@model VendingMachineSystem.Models.Admin.AdminRequestModel
@{
    ViewData["Title"] = "AdminRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var roleList = ViewBag.RoleList;
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p style="color:red">@ViewBag.ErrorMessage</p>
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <h1>AdminRegister</h1>

        @using (Html.BeginForm("AdminRegister", "Admin", FormMethod.Post))
        {
            <div class="mb-3">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "User Name", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'User Name'" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Password'" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(m => m.UserRole, new { @class = "col-md-3 col-sm-4 control-label" })
                @Html.DropDownListFor(m => m.UserRole,
                         (IEnumerable<SelectListItem>)ViewBag.roleList,
                         "---Select UserRole---",
                         new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserRole, "", new { @class = "text-danger" })

            </div>
            <div style="margin-top:40px">
                <button type="submit" class="btn btn-primary">Register</button>

            </div>
        }

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
